html {box-sizing: border-box; margin: 0; padding: 0; font-size: 62.5%;}
body {background-color: #eeeeee;}
h1 {text-align: center;}
p, span, input{font-size: 1.6rem;}

/* NAV */
.header {background-color: 	#159415; width: 100%; height: 100px; margin-top: 3%;}
.header-img {background-color: white; display: inline-block; width: 10%; height: 160px; margin-top: -27px; margin-left: 4%; border: green solid 3px; border-radius: 7px;}
.header-title {display: inline-block; font-size: 3.0rem; color: white; width: 30%; margin-top: 2%;margin-left: 4%;}
.nav-a {display: inline-block; width: 50%; margin-top: 3%; margin-left: 20px;}
.nav-a_a {text-decoration: none;color: white;font-size: 1.8rem; margin-left: 5%;}
.nav-a_a:hover{color: black;}

/* CARRUSEL */
.carrusel {width: 90%; height: 500px; margin-top: 4%; margin-left: 5%; ; border-radius: 10px;}
.carrusel-img {width: 100%; height: 500px; border-radius: 10px;}

/* ARTICULO NUEVO TITULO 2021 */
.articulo-2021 {display: flex; width: 100%; height: 420px;margin-top: 3%; margin-left: 3%;}
.section-article-text { width: 47%; height: 440px; margin-left: 2%; font-size: 1.6rem;}
.section-article-img {width: 40%; height: 440px; margin-left: 3%;}
.articulo-img {width: 100%; height: 420px; border-radius: 20px;}
.section-videos {margin-top: 5%; margin-bottom: 3%; width: 70%; height: 400px;}

/* ARTICULO EQUIPO LIBERTADOR */
.articulo-libertador {display: flex; width: 90%;}
.section-libertador {width: 48%; margin-left: 6%;}
.img-libertadores {width: 90%; height: 300px; margin-left: 27px; margin-bottom: 5%;}

/* FORMULARIO  */
.section-formulario {border: solid; border-radius: 20px; width: 80%; margin-top: 2%; margin-left: 10%; margin-bottom: 5%;}
.div-superior {display: flex; width: 100%;}
.div-superior_1 {width: 48%; margin-left: 1%;}
.div-inferior {display: flex; width: 100%;}
.input {width: 250px; margin-top: 3%; background-color: #d5f8d5;}
#nombre {margin-left: 50px; border-radius:5px}
#correo {margin-left: 67px; border-radius:5px}
#apellido {margin-left: 50px; border-radius:5px}
#celular {margin-left: 69px; border-radius:5px}
.div-preguntas {width: 80%; margin-bottom: 2%;}
#preguntas {width: 900px; height: 200px; text-align: center; margin-top: 2%; margin-left: 14%; background-color: #d5f8d5; border-radius: 20px;}
.submit {width: 10%; margin-top: 14%; margin-left: -870px;}
.input-submit {height: 40px; border-radius: 8px; margin-left: 50%; background-color: #d5f8d5;}
.input-submit:hover{
    color: mediumblue;
}

/* FOOTER */
.footer {display: flex; background-color: #00823d; height: 300px;}
.section-logo {width: 16%;margin-left: 4%;}
.footer-img {margin-top: 6px;width: 100%;}
.redes-footer {display: flex; width: 70%; margin-left: 2%; font-size: 2.4rem;}
.redes1 {width: 44%; height: 80px; margin-top: 12%; margin-left: 20px;}
.redes2-3 {width: 24%; height: 80px;margin-top: 12%; margin-left: 20px;}
.redes-foote-a {text-decoration: none; color: white;}
.redes-foote-a:hover {color: black}